/* CSS reset from
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** begin actual CSS ******/
/* fix lists */
ol {
    list-style: decimal;
}
ol ol {
    list-style: lower-latin;
}
ol ol ol {
    list-style: lower-roman;
}

ul {
    list-style: disc;
}
ul ul {
    list-style: circle;
}
ul ul ul {
    list-style: square;
}
li {
    margin-left:0.25in;
}
li > p {
    text-indent:0;
}

/* side panel */
#nav {
    padding-left: 0;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    line-height: 20px;
}
#nav li {
    list-style: none;
    display: inline;
    margin: 0;
}
#nav li:before {
    content: "~ ";
}
#nav li:first-child:before {
    content: "";
}
#aside p {
    text-indent:0;
}
img.me {
    /*float:left;*/
    display: block;
    margin-left:auto;
    margin-top:25px;
    margin-bottom:0px;
    margin-right:auto;
    box-shadow:0px 0px 6px 0px #666;
}

/* text */
a {
    text-decoration:none;
    color:#14B;
}
a:hover {
    text-decoration:underline;
}
a:visited {
    color:#108;
}
h1, h2 {
    font-weight: 600;
    margin:0 auto;
}
h1 {
    font-size: 30pt;
    line-height: 60pt;
}
h2 {
    font-size: 22pt;
    /*line-height: 33pt;*/
}
p, li {
    line-height: 24px;
}
p {
    margin:8px 0;
}
p {
    text-indent:8%;
}
.info,.abccredit,.tags,#footer {
    color:#666;
}
.abccredit {
    font-style: italic;
    text-align: center;
}
div.abcrendered {
    margin: 0 -50px -50px;
}
.title {
    text-align: center;
    text-indent: -0.25in;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.minipost + .minipost {
    margin-top: 20px;
}

/* body */
html {
    margin: 0;
    border-top: solid 8px #333;
    color:#222;
    font: 16px 'Georgia', serif;
}
#aside {
    float: left;
    width: 168px;
}
#main {
    float: right;
    width: 560px;
}
#footer {
    width: 100%;
    border-top: 1px solid #ccc;
    padding:25px 0;
    margin-top:25px;
    text-align: center;
}

#wrap {
    margin: 0 auto;
    padding: 0 40px;
    width: 748px;
}
