{% extends "base.html" %}
{% load md %}
{% block content %}

{% markdown %}

Here are some random facts!

- I'm currently a junior at Harvard, where I study math and computer science. Before that I was extremely lucky to go to [Commonwealth School](http://commschool.org/), a tiny high school in the middle of Boston, where I learned how to read, write, have a work ethic and be a reasonable person.

- Also at Commonwealth, I had the good fortune to hear Peter Singer speak about the ideas that would become [effective altruism](https://en.wikipedia.org/wiki/Effective_altruism): basically, that it turns out it's actually very easy to do things that have a huge positive impact on the world, if you think critically about finding them. Although I thought he was nuts at first, I've gradually warmed up to Singer's point of view, and these days I spend a lot of time thinking about how I can do the most good in the world.

- When I was three or so, my mother turned our house into a [co-op](http://www.arlingtonfriendshouse.org/), and throughout my ~20-year stay there I probably lived with 40-50 housemates. So I got to grow up surrounded by lots of awesome grad students/engineers/other Cambridge-type people. It was basically like having a bunch of cool older siblings except they never got mad at me and they rotated every few years. This totally sold me on the importance of living with (and generally spending time with) really excellent people, a tradition which I try hard to keep alive wherever I go.

- While I was in middle school, one of said housemates somehow persuaded me to try [contra dancing](https://en.wikipedia.org/wiki/Contra_dance). I honestly have no idea how that worked, but it did. I've been dancing for something like eight years now and I still think it's the most fun thing ever.

- I play piano! I was taught by the phenomenal [Donna Gross Javel](http://www.anythingpiano.com/), probably the only teacher who could possibly have gotten me to keep playing through the wringer of Commonwealth. I started with classical piano, but after I got into contra dancing I mostly switched to folk because it's more fun to pick up and play with my folk-musician friends. I've recently been feeling the need for a more portable instrument, so I'm starting to pick up the accordion as well, much to my roommates' chagrin.

- Also in high school I read a whole lot of Eliezer Yudkowsky's writings on [Less Wrong](http://lesswrong.com/). I don't agree with or endorse everything that gets said there, but Eliezer is definitely a great thinker and reading various parts of "The Sequences," as they're known, cleared up a lot of philosophical confusion for me. Later I also went to a [CFAR](http://rationality.org/) workshop (which spun out of ideas discussed on LW), which was also pretty awesome.

{% endmarkdown %}

{% endblock %}
