{% extends "base.html" %}
{% load md %}
{% block content %}

<img src="{{ STATIC_PREFIX }}img/me_small.jpg" class="me"></img>

{% markdown %}

I live in Berkeley and work at Theorem, a financial technology startup, where I do a mixture of data science and engineering. I've been there since June '14, when I finished a math major at Harvard (with a fair amount of [computers](/why-im-taking-operating-systems) on the side). My other academic interests include economics, physics, statistics, international development, and various other things.

Before Harvard I was extremely lucky to go to [Commonwealth School](http://commschool.org/), a tiny high school in the middle of Boston, where I learned how to read, write, have a work ethic and be a reasonable person. There I also had the good fortune to hear Peter Singer speak about the ideas that would become [effective altruism](https://en.wikipedia.org/wiki/Effective_altruism): basically, that we should devote much of our energy to finding the best ways of doing good in the world. Although I thought he was nuts at first, I've gradually warmed up to Singer's point of view, and these days I spend a lot of time thinking about how I can contribute.

{% endmarkdown %}

{% endblock %}
