{% extends "base.html" %}
{% load md %}
{% block content %}

<img src="{{ STATIC_PREFIX }}img/me_small.jpg" class="me"></img>

{% markdown %}

I live in Berkeley and work as Principal Techologist at Theorem, a financial technology startup, where I build machine learning models.

I've been there since June '14, when I finished a math major at Harvard (with a fair amount of [computers](/why-im-taking-operating-systems) on the side). Before that I was extremely lucky to go to [Commonwealth School](http://commschool.org/), a tiny high school in the middle of Boston, where I learned how to read, write, have a work ethic and be a reasonable person.

Also at Commonwealth, I had the good fortune to hear Peter Singer speak about the ideas that would become [effective altruism](https://en.wikipedia.org/wiki/Effective_altruism): basically, that we should devote much of our energy to finding the best ways of doing good in the world. Although I thought he was nuts at first, I've gradually warmed up to Singer's point of view, and these days I spend a lot of time thinking about how I can contribute.

Currently I think my best shot at improving people's lives is with the twin powers of technology and money, which historically have mostly determined how well humanity can flourish (hence: financial technology start-up). But I'm still [exploring](/exploration) other options, too.

{% endmarkdown %}

{% endblock %}
