{% load static %}
{% load md %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{{ title }} | benkuhn.net</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css" type="text/css" media="screen" />
    {% if not user.is_authenticated or not user.is_staff %}
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33921253-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    {% endif %}
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="wrap">
      <div id="aside">
        <a href="/"><img src="{{ STATIC_PREFIX }}img/me_small.jpg" class="me"></img></a>
        <hr class="med"></hr>
{% markdown %}

I'm Ben! I study math and computer science at Harvard. When I'm not
doing that, I enjoy [making things](/projects/),
[coding](http://github.com/benskuhn/), reading, playing piano,
[singing](http://www.harvardgleeclub.org/), [contra
dancing](http://en.wikipedia.org/wiki/Contra_dance), hiking, and
various other strange activities.

{% endmarkdown %}
        <hr class="med"></hr>
        <div class="nav">
          <a href="/">home</a> &bull;
          <a href="/contact/">contact</a> &bull;
          <a href="/rss/">rss</a>
        </div>
      </div>
      <div id="main" class="centerpage">
        <h1 class="title">{{ title }}</h1>
        <hr class="wide"></hr>
        {% block content %}content goes here{% endblock %}
        <hr class="wide"></hr>
        <footer>
          <p>
            benkuhn.net is built
            with <a href="https://www.djangoproject.com/">django</a> and
            hosted
            by <a href="http://www.webfaction.com?affiliate=benkuhn">webfaction</a>.
          </p>
        </div>
      </footer>
      <br clear="all" />
    </div>
  </body>
</html>
