{% extends "base.html" %}
{% load md %}
{% block content %}
{% markdown %}

Here are some of my favorite things I've written:

- [Autocomplete as an interface](http://www.benkuhn.net/autocomplete) argues that autocompletion (in the style of e.g. Google search suggestions) is my favorite user interface tool for.

- [Readability, hackability, and abstraction](http://www.benkuhn.net/rha) describes a particularly annoying circle that I often go in while programming.

- [Probability, uncertainty, and markets](http://www.benkuhn.net/prob) discusses a common failure mode of people trying to reason probabilistically, and why the concept of Knightian uncertainty might be more reasonable for a good Bayesian than it sounds.

- [The St. Petersburg "paradox"](http://www.benkuhn.net/petersburg)--if I offer to flip a coin until it comes up heads, doubling the amount that I pay you each time, should you be willing to pay me infinity dollars to play?

- [Why squared error?](http://www.benkuhn.net/squared) explains why the squared error is so ubiquitous in statistics, and why we might or might not expect it to stay that way.

If you like these and want more, you should [follow updates](/follow/) via email or RSS. In the mean time, there's the [archive](/blog/1/) (and category-specific archives for [tech](/tag/tech/1/), [altruism](/tag/effective-altruism/1/), and [misc](/tag/misc/1/)). I also put some less polished writing on [another site](http://scraps.benkuhn.net/).

{% endmarkdown %}
{% endblock %}
