{% extends "base.html" %}
{% load md %}
{% block content %}
{% markdown %}

There are plenty of ways to keep up with new posts. Pick your favorite!

- There's an [RSS feed](/rss/) if you use a feed reader (if you want to try one, I recommend [feedly](http://feedly.com/)).

- You can also [get emailed about new posts](http://www.benkuhn.net/email/).

- Or you can follow me on [Facebook](https://www.facebook.com/ben.s.kuhn) or [Twitter](https://twitter.com/benskuhn).

While you're waiting, here's some of my favorite older posts:

- [**Exploration and exploitation**](http://www.benkuhn.net/exploration): applying the idea of an “exploration-exploitation tradeoff” from computer science to real life. This has some interesting implications for the choices we make.

- [**Doing things I'm terrible at**](http://www.benkuhn.net/terrible): in praise of sucking at things and making tangible improvements.

- [**How to give good gifts**](http://www.benkuhn.net/gifts): a collection of observations gleaned from the gift habits of about six different extended families.

- [**Useful ideas in debate**](http://www.benkuhn.net/debate): a directory of concepts that have made me better at having interesting discussions.

- [**Improving Facebook**](http://www.benkuhn.net/fbcat): by replacing your news feed with cat pictures.

And here's some of the posts that got the most hits:

- [**A short rant about contra dance etiquette**](http://www.benkuhn.net/contra-etiquette): on the silliness (and bad gender dynamics) of the norms for asking people to dance.

- [**General Miseducation**](http://www.benkuhn.net/gened): documenting the many pedagogical issues with Harvard's so-called "general education" curriculum.

- [**On inclusivity in Less Wrong**](http://www.benkuhn.net/inclusivity): comments on people feeling excluded by one of my favorite communities.

- [**A critique of effective altruism**](http://www.benkuhn.net/ea-critique): what happened when I tried to construct the strongest and most plausible arguments against my views on effective altruism.

- [**My current plans**](http://www.benkuhn.net/plans-i): a post detailing my plans for the future. (Note: this is no longer current, but may still be interesting.)

{% endmarkdown %}
{% endblock %}
