{% extends "base.html" %}
{% load md %}
{% block content %}
{% markdown %}

With 50-odd articles on the site now, it's probably time to include some pointers for where to start. Below I've picked out my personal favorite posts and the ones that got the most traffic.

## Personal picks

- [**Useful ideas in debate**](http://www.benkuhn.net/debate): a directory of concepts that have made me better at having interesting discussions.

- [**Improving Facebook**](http://www.benkuhn.net/fbcat): by replacing your news feed with cat pictures.

- [**How to give good gifts**](http://www.benkuhn.net/gifts): a collection of observations gleaned from the gift habits of about six different extended families.

- [**Exploration and exploitation**](http://www.benkuhn.net/exploration): applying the idea of an “exploration-exploitation tradeoff” from computer science to real life. This has some interesting implications for the choices we make.

- [**Doing things I'm terrible at**](http://www.benkuhn.net/terrible): in praise of sucking at things and making tangible improvements.

## Popular

- [**A short rant about contra dance etiquette**](http://www.benkuhn.net/contra-etiquette): on the silliness (and bad gender dynamics) of the norms for asking people to dance.

- [**General Miseducation**](http://www.benkuhn.net/gened): documenting the many pedagogical issues with Harvard's so-called "general education" curriculum.

- [**On inclusivity in Less Wrong**](http://www.benkuhn.net/inclusivity): comments on people feeling excluded by one of my favorite communities.

- [**A critique of effective altruism**](http://www.benkuhn.net/ea-critique): what happened when I tried to construct the strongest and most plausible arguments against my views on effective altruism.

- [**My current plans**](http://www.benkuhn.net/plans-i): a post detailing my plans for the future. (Note: this is no longer current, but may still be interesting.)

{% endmarkdown %}
{% endblock %}
