{% extends "base.html" %}
{% load md %}

{% block content %}

{% markdown %}

The best way to reach me for most things is by email at [<span class="email">ben(dot)s(dot)kuhn(at)gmail(dot)com</span>](mailto:ben(dot)s(dot)kuhn(at)gmail(dot)com).[^email] For more urgent things, you can text or call me.[^text] I don't use instant messages (e.g. Facebook or Google Hangouts)[^ims] and only respond to them sporadically.
<script type="text/javascript">
  function fixemail(s) {
    return s.replace(/\\(dot\\)/g, '.').replace(/\\(at\\)/g, '@');
  }
  var e = $('.email');
  console.log(e);
  e.text(fixemail(e.text()));
  var ee = e.parent();
  ee.attr('href', fixemail(ee.attr('href')));
</script>

[^email]: I check email once a day in the evening, and usually respond within a day or two. If I'm swamped and don't manage that, feel free to ping me after two days. (If you want a way to remember to ping people, I suggest [Boomerang](http://www.boomeranggmail.com/).)

[^text]: Text messages generate an alert on my phone, so they're good for things that need faster turnaround than email. Unfortunately, I can't manage my texts as well as my email, so I'm also more likely to drop them if I don't respond quickly.

    My phone automatically silences itself during work, meetings, etc. (via [Agent](https://play.google.com/store/apps/details?id=com.tryagent)), so it's always okay to call me--if it disrupts anything, it's my fault. If you leave a message it will get transcribed by [Google Voice](https://www.google.com/voice) and emailed to me, so when I call you back I will have the gist of what you're talking about but may have lost some details in the transcription.

[^ims]: The prevalence of these services is incredibly annoying to me. For synchronous communication, they're worse than phone because they're text-only. For asynchronous communication, they're worse than SMS because they're annoying to check and require me to keep track of more different inboxes. (Okay, sorry, I'll stop whining.)

{% endmarkdown %}

{% endblock %}
