{% extends "base.html" %}
{% load md %}

{% block content %}

{% markdown %}

The best way to reach me for most things is by email: [<span class="email">ben(dot)s(dot)kuhn(at)gmail(dot)com</span>](mailto:ben(dot)s(dot)kuhn(at)gmail(dot)com). I check email once a day in the evening, and try to respond within two days. If I'm swamped and don't manage to, feel free to ping me after that. I'm usually happy to answer emails about stuff I've written, even if I don't know you!

If whatever you're going to say might be of general interest, though, I do encourage you to post it as a comment instead :)

<script type="text/javascript">
  function fixemail(s) {
    return s.replace(/\(dot\)/g, '.').replace(/\(at\)/g, '@');
  }
  var e = $('.email');
  e.text(fixemail(e.text()));
  var ee = e.parent();
  ee.attr('href', fixemail(ee.attr('href')));
</script>

{% endmarkdown %}

{% endblock %}
