{% extends "base.html" %}
{% load md %}

{% block content %}

{% markdown %}

The best way to reach me for most things is by email at [<span class="email">ben(dot)s(dot)kuhn(at)gmail(dot)com</span>](mailto:ben(dot)s(dot)kuhn(at)gmail(dot)com). I check email once a day in the evening, and usually respond within a day or two. If I'm swamped and don't manage that, feel free to ping me after two days.

<script type="text/javascript">
  function fixemail(s) {
    return s.replace(/\(dot\)/g, '.').replace(/\(at\)/g, '@');
  }
  var e = $('.email');
  e.text(fixemail(e.text()));
  var ee = e.parent();
  ee.attr('href', fixemail(ee.attr('href')));
</script>

For more urgent things, phone or text works better. My phone number is on my Facebook profile and I promise it won't be weird if you use it without me telling it to you in person. (That's why I made it visible!) I'm good about silencing my phone when I don't want it to ring, so don't worry about timing.

Please don't instant message me (e.g. via Facebook or Google Hangouts) if you can help it. IM conversations are a pet peeve of mine.

{% endmarkdown %}

{% endblock %}
