{% extends "base.html" %}
{% load md %}

{% block content %}

{% markdown %}

Effective altruism is the idea of using evidence and reason to find the best ways to improve the world. For me, this means donating money to [effective charities](http://www.givewell.org/), thinking about [how to use my career to do good](https://80000hours.org/), and [exploring these ideas on my blog](/tag/effective-altruism/1/). If you're interested in learning more about effective altruism, I've [collected some reading materials here](/ea-reading).

I'm a member of [Giving What We Can](https://www.givingwhatwecan.org/), which means I've [pledged](https://www.givingwhatwecan.org/pledge) to donate at least 10% of my income to charity. In fact, I try to be better than my word, and donate most of what I earn above a reasonable baseline. To be transparent, and to help [set a norm that inspires more people to give](http://www.jefftk.com/p/make-your-giving-public), I keep a log of my donations here.

Date       | Organization            | Amount
-----------|-------------------------|--------
12/31/2014 | GiveWell (unrestricted) | $5,000

{% endmarkdown %}

{% endblock %}
