{% extends "base.html" %}
{% load md %}
{% block content %}
{% markdown %}

There are plenty of ways to keep up with new posts. Pick your favorite!

- There's an [RSS feed](/rss/) if you use a feed reader (if you want to try one, I recommend [feedly](http://feedly.com/)). You can also get topic-specific RSS feeds for [tech](/rss/tech), [altruism](/rss/effective-altruism), or [misc](/rss/misc) posts.

- You can also [get emailed about new posts](http://www.benkuhn.net/email/).

- Or you can follow me on [Facebook](https://www.facebook.com/ben.s.kuhn) or [Twitter](https://twitter.com/benskuhn).

{% endmarkdown %}
{% endblock %}
