{% extends "base.html" %}
{% load md %}
{% block content %}
{% markdown %}

There are plenty of ways to keep up with new posts. Pick your favorite!

- There's an [RSS feed](/rss/) if you use a feed reader (if you want to try one, I recommend [feedly](http://feedly.com/)). You can also get topic-specific RSS feeds for [tech](/rss/tech), [altruism](/rss/effective-altruism), or [misc](/rss/misc) posts.

- I have a separate blog for worse but more frequent posting at [scraps.benkuhn.net](http://scraps.benkuhn.net/). It also has [RSS](http://scraps.benkuhn.net/feed.xml).

- You can also [get emailed about new posts](http://www.benkuhn.net/email/).

- Or you can follow me on [Twitter](https://twitter.com/benskuhn).

{% endmarkdown %}
{% endblock %}
