{% extends "base.html" %}
{% load md %}
{% block content %}

<img src="{{ STATIC_PREFIX }}img/me_small.jpg" class="me"></img>

{% markdown %}

I'm Ben! My day job is Principal Techologist at Theorem, a financial technology startup, where I build machine learning models. When I'm not doing that, I also enjoy reading, [making music][], [contra dancing][], hiking, [effective altruism][], working on various [projects][], and many other strange activities. Here I write about some convex combination of math, computers, philosophy, effective altruism, and assorted miscellany.

Recent posts:

[making music]:https://soundcloud.com/benskuhn/
[coding]:http://github.com/benkuhn/
[contra dancing]:http://en.wikipedia.org/wiki/Contra_dance
[effective altruism]:/ea/
[projects]:/projects/

{% endmarkdown %}

{% include "post_list.html" %}

<p class="list_nav"><a class="left" href="/blog/1/">&laquo; Older posts</a><br clear="all" /></p>

{% endblock %}
