{% extends "base.html" %}
{% load md %}
{% block content %}

<img src="{{ STATIC_PREFIX }}img/me_small.jpg" class="me"></img>

{% markdown %}

I'm Ben! This is where I put things I write, usually about some convex combination of effective altruism, math, computers, philosophy, and other assorted miscellany.

By day I'm an engineer at [Sendwave](http://www.sendwave.com/), building faster and cheaper money transfer in Africa. Otherwise I enjoy reading, hiking, [making music][], [contra dancing][], trying to improve the world, and various other strange activities.

If you're a new visitor, check out the [best-of list][], and if it strikes your fancy, [subscribe][]. Or read some recent posts:

[making music]:https://soundcloud.com/benskuhn/
[coding]:http://github.com/benkuhn/
[contra dancing]:http://en.wikipedia.org/wiki/Contra_dance
[effective altruism]:/ea/
[best-of list]:/more/
[subscribe]:/follow/

{% endmarkdown %}

{% include "post_list.html" %}

<p class="list_nav"><a class="left" href="/blog/1/">&laquo; Older posts</a><br clear="all" /></p>

{% endblock %}
