{% load md %}
{% if compact %}
<h2 class="post_title">
  <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</h2>
{% endif %}
<span class="info">&ndash; <span class="post_date"> on {{ post.datePosted|date:"l, F j, Y" }}</span></span>
</h2>
{% if compact %}
<p>
{{ post.excerpt }}
</p>
{% else %}
<div id="content">
  {% markdown %}
  {{ post.text }}
  {% endmarkdown %}
</div>
{% comment %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'benkuhn';
  var disqus_identifier = '{{ post.slug }}';
  var disqus_title = '{{ post.title|escapejs }}';
  // var disqus_url = '{{ post.url }}';
  {% if debug %}
  var disqus_developer = 1;
  {% endif %}
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endcomment %}
{% endif %}
<p class="tags">&mdash;in
  {% for ptag in post.tags.all %}
  <a href="{{ ptag.get_absolute_url }}">{{ ptag.name }}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
</p>
