{% load md %}
{% if compact %}
<h2 class="post_title">
  <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</h2>
{% endif %}
</h2>
<p class="tags">
  <span class="post_date">
    on {{ post.datePosted|date:"l, F j, Y" }}
    at {{ post.datePosted|date:"g:i a" }}
  </span> in
  {% for ptag in post.tags.all %}
  <a href="{{ ptag.get_absolute_url }}">{{ ptag.name }}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
  {% if user.is_authenticated and user.is_staff %}
  <a href="{{ post.get_edit_url }}">(edit)</a>
  {% endif %}
</p>
<div class="post">
{% markdown %}
{% if compact %}
{{ post.excerpt|safe }} [read more]({{ post.get_absolute_url }})
{% else %}
{{ post.text|safe }}
{% endif %}
{% endmarkdown %}
</div>
{% if not compact %}
<p class="subscribe">Enjoyed this post? Get notified of new ones via <a href="/email/">email</a> or <a href="/rss/">RSS.</a></p>
<p class="comment-intro">
  <strong>
    {% if not comment_count %}no{% else %}{{ comment_count }}{% endif %}
    comment{{ comment_count|pluralize }}
  </strong> &bull; <a class="clicky" onclick="javascript:var el = document.getElementById('comment-form'); if (el.style.display == 'block') el.style.display = 'none'; else el.style.display = 'block'">comment</a>
</p>
<div class="comments">
<form id="comment-form" method="POST" action="{{ post.get_absolute_url }}" style="display:none;">
  {% csrf_token %}
  <div class="col2 left">
    <input type="text" class="field" name="name" placeholder="name (optional)"></input>
  </div>
  <div class="col2 right">
    <input type="text" class="field" name="email" placeholder="email (optional)"></input>
  </div>
  <input type="text" placeholder="John Doe" class="nope" name="lastname" />
  <textarea class="field" name="text" placeholder="comment (not optional)"></textarea>
  <div class="right submit">
    <input type="checkbox" name="subscribed" value="subscribed" checked="checked"></input>
    <span class="info">follow</span><br/><br/>
    <a class="right clicky"
    onclick="javascript:document.getElementById('comment-form').submit()">submit</a>
  </div>
  <span class="submit info">format posts
  in <a href="http://daringfireball.net/projects/markdown/">markdown</a>. put
  TeX math between $ signs without spaces around the edges. email will
  only be used for the most <a href="/privacy/">wholesome
  purposes</a>.</span>
</form>
{% for comment in comments %}
{% include "comment_single.html" %}
{% endfor %}
</div>
{% endif %}
