{% extends "base.html" %}
{% load md %}
{% block title %}Projects{% endblock %}
{% block content %}

{% markdown %}

I ask for your email in comment threads so that the site can send you
emails when people reply to you. Your email will never be displayed on
the site or shared with third parties. An md5 hash of your email will
be shown to people browsing the website because it's part of the URL
of your [gravatar](http://gravatar.com/).

If you have more privacy questions, please don't hesitate to [get in
touch](/contact/).

{% endmarkdown %}
{% endblock %}
